[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mysql-connector = "*"
flask = "*"
flask-restful = "*"
flask-jsonpify = "*"

[requires]
python_version = "3.8"
